<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>KMAScanner</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />

    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    
</head>
<body class="font-lucida">

    <nav class="navbar navbar-expand-lg fixed-top header">
        <a class="navbar-brand bg-black padding-horizontal rounded" href="#">KMAScanner</a>      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sug">Suggestions for you</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#map">Try a map</a>
            </li>
          </ul>
        </div>
        <div class="float-right"><button class="btn bg-black" id="login">Log in</button></div>
    </nav>